<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <testsuites>
        <testsuite name="Controllers">
            <directory>App/Tests/Controllers</directory>
        </testsuite>
<!--        <testsuite name="Services">-->
<!--            <directory>App/Tests/Services</directory>-->
<!--        </testsuite>-->
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">App</directory>
        </include>
        <exclude>
            <directory>App/Tests/</directory>
            <directory>vendor</directory>
            <directory>build</directory>
        </exclude>
    </coverage>
</phpunit>